# CMake
/CMakeCache.txt
/CPackConfig.cmake
/CPackSourceConfig.cmake
CMakeFiles
cmake_install.cmake
CTestTestfile.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile

# Ninja
/.ninja_deps
/.ninja_log
/*.ninja

# Miscellaneous;
/ext_build
/build*
/dist
*.dir
*~
\.DS_Store
Testing
/.cache
/.ipynb_checkpoints

# SublimeText
*.sublime-project
*.sublime-workspace

# Visual Studio / VS Code
*.vcxproj
mitsuba.sdf
mitsuba.sln
mitsuba.opensdf
mitsuba.VC.VC.opendb
mitsuba.VC.db
Debug
Release
*.user
*.filters
/.vs
/x64

# Python
__pycache__
*.pyc
/.pytest_cache

# Binaries
*.dylib
*.so
*.dll
/src/mitsuba/mitsuba
/src/mtsgui/mtsgui
/src/libui/libui_resources.*
