table.docutils td, table.docutils th {
    padding:.5em;
}

table.docutils th {
    vertical-align:middle;
}

.container {
    width:100%;
}

.sidebar-brand-text {
	text-align: center;
}

.toggle .header {
    display: block;
    clear: both;
    padding-bottom: 1em;
}

.toggle .header:after {
    content: " ▶";
}

.toggle .header.open:after {
    content: " ▼";
}

.MathJax .mo { color: inherit }
.MathJax .mi { color: inherit }

div.sphinxsidebar h4 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #606060;
}

.paramtype {
	font-family: 'Courier New', Courier, monospace;
}

.monosp {
	font-family: 'Courier New', Courier, monospace;
    font-size: 90%;
}

div.sphinxsidebar {
    margin: 1em;
}

div.sidebar-wrapper {
    padding:0px;
}

.paramstable {
    background-color: #f0f0f0;
}

.paramstable .row-even {
    background-color: #f9f9f9;
}

abbr[title], abbr[data-original-title] {
    cursor: help;
    border-bottom: unset;
    text-decoration: unset;
}

/* The following CSS is adapted from sphinxtr, Copyright (c) 2012, Jeff Terrace  */

/* change default tables to booktabs style */
div.body td.align-left {
	text-align: left;
}
div.body td.align-right {
	text-align: right;
}
div.body td.align-center {
	text-align: center;
}
div.body td.align-top {
    vertical-align: top;
}
div.body td.align-bottom {
    vertical-align: bottom;
}
div.body td.align-middle {
    vertical-align: middle;
}
table.docutils th {
	border-bottom: 2px solid #AAA;
	border-top: 2px solid #AAA;
}
table.docutils td {
    border: 0;
    padding: 4px 8px 4px 5px;
    line-height: 130%;
}
table.docutils {
    border-bottom: 2px solid #AAA;
    margin: 0 0 1em 0;
    padding: 0 -0.5em 0 -0.5em;
}

/* make the title of references bold */
div#bibliography + table span.title {
	font-weight: bold;
}

/* fix word-wrapping in long http links in references */
div#bibliography + table a.external {
	word-wrap: break-word;
	word-break: break-all;
}


/* link color change */
a, div.related ul li a, div.body a {
	color: #08c;
	text-decoration: none;
}
a:hover, div.related ul li a:hover, div.body a:hover {
    color: #0071aa;
}
h1, h2 {
	color: #333;
}

/* no background for top bar since it's orange */
div.related ul {
	background-image: none;
	background-color: #fff;
}

/* give figures a nice rounded box style */
div.figure {
	margin: 20px 0px;
	padding: 3px 7px;
	/* padding-top: 10px; */
	border: 1px solid #DDD;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/* change figure captions to be aligned nicely */
div.body p.caption {
	text-align: justify;
}
div.subfigure > p.caption {
	text-align: center;
}

/* change figure captions to get highlighted when targeted with a link */
div.figure:target > p.caption,
div.subfigure:target > p.caption,
div.figure:target > center > p.caption,
div.math:target span.eqno {
    background-color: #FFA;
}
div.figure:target,
div.subfigure:target {
	border: 1px dashed #333;
}
div.figure.compound {
	padding: 0;
	padding-top: 10px;
}
div.figure.compound > p.caption {
	margin-left: 7px;
	margin-right: 7px;
}
div.subfigure {
	display: inline-block !important;
	vertical-align: top;
	padding-left: 7px;
	padding-right: 7px;
}

@media only screen and (min-width: 768px) {
	div.subfigure {
		/* display: inline-block; */
		display: inline-flex !important;
		flex-direction: row;

		vertical-align: top;
		padding-left: 7px;
		padding-right: 7px;
	}
}

div.subsubfigure {
	flex-direction: column;
}

a.subsubfigure > img {
    margin-top: 0.25em !important;
    margin-bottom: 0.5em !important;
}

/* change section titles to get highlighted when targeted with a link */
div.section:target > h6,
div.section:target > h5,
div.section:target > h4,
div.section:target > h3,
div.section:target > h2,
div.section:target > h1,
span:target + h6,
span:target + h5,
span:target + h4,
span:target + h3
span:target + h2,
span:target + h1
{
	background-color: #FFA;
}

/* description lists */
dl {
	margin-left: 20px;
}
dt {
    font-weight: bold;
}
dt, dd {
    line-height: 20px;
}
dd {
	margin-left: 10px;
	margin-top: 0;
	margin-bottom: 0;
}

div#bibliography span.brackets {
    color: #333;
}

/* margins for images */

img {
    margin-top:1.5em;
    margin-bottom:1.5em;
}

.sidebar-logo {
    max-width: 25%;
}

.card-body.text-center {
    padding: 0.01rem;
}

.theme-toggle-container {
    display: none;
}

#plugin-reference .toctree-wrapper { column-count: 2; }

#plugin-reference .toctree-wrapper > ul { margin: 0; }

#plugin-reference .toctree-l1 {
    margin: 0;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
}


/* Override to disable dark theme support in sphinx_tabs */
@media (prefers-color-scheme: dark) {
    body[data-theme="auto"] .page .sphinx-tabs-panel {
        color: auto;
        background-color: white;
    }

    body[data-theme="auto"] .page .sphinx-tabs-tab {
        color: #1D5C87;
        background-color: rgba(255, 255, 255, 0);
    }

    body[data-theme="auto"] .page .sphinx-tabs-tab[aria-selected="true"] {
        border-bottom: 1px solid white;
        background-color: white;
    }
}

/* Explicit dark theme styling: okay to keep */
/*
body[data-theme="dark"] .sphinx-tabs-panel {
    color: white;
    background-color: rgb(50, 50, 50);
  }

  body[data-theme="dark"] .sphinx-tabs-tab {
    color: white;
    background-color: rgba(255, 255, 255, 0.05);
  }

  body[data-theme="dark"] .sphinx-tabs-tab[aria-selected="true"] {
    border-bottom: 2px solid rgb(50, 50, 50);
    background-color: rgb(50, 50, 50);
  }
*/

/* Copybutton: disable on the "prompt numbering" cell in notebooks */
.nbinput .prompt.highlight-none .copybtn,
.nboutput .prompt.highlight-none .copybtn {
    display: none;
}
/* Copybutton: fix vertical placement of button in notebook cells */
.nbinput .highlight button.copybtn,
.nboutput .highlight button.copybtn {
    top: 0.26rem;
}

/* Tweaks for gallery page */
#gallery .sd-card {
    margin-bottom: 1em;
}
#gallery .sd-card .sd-card-body {
    border-left: 1px solid rgba(0, 0, 0, 0.06);
    border-right: 1px solid rgba(0, 0, 0, 0.06);
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}
#gallery .sd-card .sd-card-body img {
    height: 100%;
    min-height: 160px;
    object-fit: cover;
    margin-top: 0;
    margin-bottom: 10px;
}
